BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: Never
