BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
LineEnding: LF
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: WebKit
InsertBraces: true
SeparateDefinitionBlocks: Always
NamespaceIndentation: None
WrapNamespaceBodyWithEmptyLines: Always
PointerAlignment: Left
SortIncludes: Never
SortUsingDeclarations: Never
BreakStringLiterals: false
ReflowComments: Never
